@import url("../../dforma/resources/Builder.css");

.dexistCollectionBrowser .dijitContentPane {
	overflow: hidden;
	padding:0;
}

.dexistCollectionBrowser .browsingGrid .dgrid-cell {
	vertical-align: middle;
}


.dexistCollectionBrowser .browsingGrid .field-internetMediaType {
	border-right:none;
	padding: 2px 0 0;
}
.dexistCollectionBrowser .browsingGrid .dgrid-header .field-internetMediaType img {
	margin-left:3px;
	width: 16px;
	height: 16px;
}

.dexistCollectionBrowser .browsingGrid .dgrid-header .field-internetMediaType:after{
	content:"Internet Media Type";
	background-color: #fff;
    border: 1px solid #333;
    height: 1.5em;
    margin-top:2em;
    padding-top:3px;
    position: fixed;
    z-index:9999;
    text-align: center;
    width: 9em;
    font-family:Arial,sans-serif;
    font-weight:normal;
    opacity:0;
    transition: 0s opacity 0s;
    pointer-events: none;
}
.dexistCollectionBrowser .browsingGrid .dgrid-header .field-internetMediaType:hover:after{
    opacity:1;
    transition: 0s opacity 0.5s;
}
.dexistCollectionBrowser .browsingGrid .dgrid-header .field-internetMediaType:active:after{
	opacity:0;
	transition: 0s opacity 0s;
}
.dexistCollectionBrowser .browsingGrid .field-name {
	border-left:none;
}
.dexistCollectionBrowser .browsingGrid .field-permissionsString {
	width:8em;
}
.dexistCollectionBrowser .browsingGrid .field-owner {
	width:8em;
}
.dexistCollectionBrowser .browsingGrid .field-group {
	width:8em;
}
.dexistCollectionBrowser .browsingGrid .field-lastModified {
	width:16em;
}

.dexistCollectionBrowser .browsingList .dgrid-content {
}

.dexistCollectionBrowser .browsingList .dgrid-row {
    display: inline-table;
    height: 100px;
    padding: 5px;
    text-align: center;
}
.dexistCollectionBrowser .browsingList .dgrid-row .tile-row {
	display:table-row;
}
.dexistCollectionBrowser .browsingList .dgrid-row .tile-thumb {
	display:table-cell;
	vertical-align:bottom;
}
.dexistCollectionBrowser .browsingList .dgrid-row .tile-text {
    display: block;
    max-height: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    /*word-wrap: break-word;*/
}

.dexistCollectionBrowser .browsingList.thumbnailx1 .dgrid-row {
	padding:2px;
	height:70px;
}
.dexistCollectionBrowser .browsingList.thumbnailx1 .dgrid-row .tile-text {
	width:70px;
}

.dexistCollectionBrowser .browsingList.thumbnailx2 .dgrid-row {
	padding:3px;
	height:85px;
}
.dexistCollectionBrowser .browsingList.thumbnailx2 .dgrid-row .tile-text {
	width:85px;
}

.dexistCollectionBrowser .browsingList.thumbnailx16 .dgrid-row {
	height:150px;
}
.dexistCollectionBrowser .browsingList.thumbnailx16 .dgrid-row .tile-text {
	width:150px;
}
.dexistCollectionBrowser .dformaGrid-permissions .field-id {
	width:40%
}

.dexistCollectionBrowser .dformaGrid-permissions .field-read {
	width:10%
}

.dexistCollectionBrowser .dformaGrid-permissions .field-write {
	width:10%
}

.dexistCollectionBrowser .dformaGrid-permissions .field-execute {
	width:10%
}

.dexistCollectionBrowser .dformaGrid-permissions .field-specialLabel {
	width:10%;
	border-right:none;
}

.dexistCollectionBrowser .dformaGrid-permissions .field-special {
	width:20%;
	border-left:none;
}

.dexistCollectionBrowser .dformaGrid-acl .field-target {
	width:20%
}

.dexistCollectionBrowser .dformaGrid-acl .field-who {
	width:30%
}

.dexistCollectionBrowser .dformaGrid-acl .field-access {
	width:20%
}

.dexistCollectionBrowser .dformaGrid-acl .field-read {
	width:10%
}

.dexistCollectionBrowser .dformaGrid-acl .field-write {
	width:10%
}

.dexistCollectionBrowser .dformaGrid-acl .field-execute {
	width:10%
}


.dexistCollectionBrowser .dformaGridContainer .dgrid {
	width:auto;
}

.dformaBuilder .dformaBuilder {
	border:1px solid #ddd;
	padding-bottom:30px;
}

.dformaLabelNode {
	min-width:9em;
	padding:0;
}

.dformaLabelForCheckbox .dformaLabelNode {
	min-width:4em;
}

.dexistCollectionBrowser .dformaGrid-permissions {
	height:104px;
	margin-bottom:40px;
}

.dexistCollectionBrowser .dformaGrid-permissions .dgrid-scroller {
	position: relative;
	overflow-y: hidden;
}
.dexistCollectionBrowser .dformaGrid-permissions .dgrid-header-scroll {
	display: none;
}
.dexistCollectionBrowser .dformaGrid-permissions .dgrid-header {
	right: 0;
}

.dexistCollectionBrowser .browsingGrid .field-internetMediaType {
	width:44px;
}

.dexistCollectionBrowser .browsingGrid.thumbnailx4 .field-internetMediaType {
	width:68px;
}

.dexistCollectionBrowser .browsingGrid.thumbnailx16 .field-internetMediaType {
	width:132px;
}

.dexistCollectionBrowser .thumbnailx1 .thumbnail {
	max-width:16px;
	max-height:16px;
}

.dexistCollectionBrowser .thumbnailx2 .thumbnail {
	max-width:32px;
	max-height:32px;
}

.dexistCollectionBrowser .thumbnailx4 .thumbnail {
	max-width:64px;
	max-height:64px;
}

.dexistCollectionBrowser .thumbnailx16 .thumbnail {
	max-width:128px;
	max-height:128px;
}

.dexistCollectionBrowser .breadcrumb {
  height: 16px;
  padding: 4px;
}

.dexistCollectionBrowser .breadcrumb a:hover {
	color:#aa8899;
	cursor:pointer;
	text-decoration: underline;
}

.dexistCollectionBrowser .breadcrumb a:before {
	content:"▸";
	display:inline-block;
	margin-left:0.1em;
}

.dexistCollectionBrowser .dijitToolbar {
	font-size:85%;
}
.dexistCollectionBrowser .dijitToolbar .dijitIcon {
	width:16px;
	height:16px;
	margin: 2px 3px;
}
.dexistCollectionBrowser .dijitToolbar .dijitButtonDisabled .dijitButtonNode {
	opacity:.5;
}
.dexistCollectionBrowser .dijitToolbar .dformaLabel {
	margin:0;
}
.dexistCollectionBrowser .dijitToolbar .dformaLabelNode {
	min-width:2em;
	margin:0 .4em;
}
.dexistCollectionBrowser .dijitToolbar .dformaLabelNode:after {
	content:"▸";
	display:inline-block;
}
.dexistCollectionBrowser .dijitToolbar .dformaLabelNode:hover {
	background-color:transparent;
}
.dexistCollectionBrowser .toolbar-reload {
	background-image:url("images/arrow_refresh.png");
}

.dexistCollectionBrowser .toolbar-reindex {
	background-image:url("images/database_refresh.png");
}

.dexistCollectionBrowser .toolbar-new {
	background-image:url("images/folder_add.png");
}

.dexistCollectionBrowser .toolbar-delete {
	background-image:url("images/bin.png");
}

.dexistCollectionBrowser .toolbar-properties {
	background-image:url("images/application_form_edit.png");
}

.dexistCollectionBrowser .toolbar-copy {
	background-image:url("images/page_copy.png");
}

.dexistCollectionBrowser .toolbar-cut {
	background-image:url("images/cut.png");
}

.dexistCollectionBrowser .toolbar-paste {
	background-image:url("images/page_paste.png");
}

.dexistCollectionBrowser .toolbar-add {
	background-image:url("images/database_add.png");
}